@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;  
}
h1,h2,h3{
    letter-spacing: 3px;
    text-transform: uppercase;
 

}
p{
    letter-spacing: 5px;
    font-size: 12px;
    
    text-transform: uppercase; 
    line-height: 1.6;
   
 
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 16px;
    
}


/* ################ utility class ############## */
.container{
    max-width: 1000px;
    width: 90;
    margin: 0 auto;
}
.btn {
    border: 1px solid white;
    border-radius: 30px;  
    color: white;
    padding: 10px 20px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 4px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
  }
  .btn:hover{
      background-color: white;
      color: black;
   
  }


.btn-grad {background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 .background{
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
 }
 .shadow{
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

/* ################ utility class ############## */

/* ############### header ################ */
#particles-js{
    position: relative;
    height: 98vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(img/1.jpg);
    background-size: cover;
    background-position: center center;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* navbar start here */
.navbar{
    padding: 15px;
}
.item a{
    color: white;
    

}
.logo{
    float: left;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(197, 236, 252);
}
.item {
    float: right;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;

}
.item a{
    padding-bottom: 2px;
}
.item a:hover{
     color: gray;
     border-bottom: 1px solid white;
    
}

.navbar::after{
    content: '';
    display: block;
    clear: both;
}


/* navbar end here */

/* header content start here */
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    padding: 15px;
}
.header-content h1{
    margin-bottom: 10px;
    color: white;
    font-weight: lighter;
}
.header-content p{
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-weight: lighter;
}
/* header content end here */
/* ############### header ################ */


/* ############### main ################ */
.image-show{
    background-color: #ddd;
    padding: 100px;
}
.row{
    height: 350px;
    background-color: #fff;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row1{
    margin-bottom: 100px;
}
.row1 .img-box{
    float: left;
    height: 100%;
    width: 50%;
}
.img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row1 .text-box{
    float: right;
    width: 50%;
    padding: 30px;
    
}

.row2 .img-box{
    float: right;
    height: 100%;
    width: 50%;
}
.row2 .text-box{
    float: left;
    width: 50%;
    padding: 30px;
   
}
.text-box h2,p{
    
    text-align: justify;
}

.text-box p{
    color: rgb(102, 94, 94);
    padding-top: 20px;
    letter-spacing: 3px;
    
}
.text-box h2{
    font-weight: bold;
    color: rgb(73, 65, 65);
}
/* ############### main ################ */
/* <!-- ################## feature ##################### --> */
.feature{
    padding: 50px;
}

    
.box{
    width: 33.333333%;
    float: left;
    text-align: center;
    padding: 30px;

}
.box-1, .box-3{
    background-image: linear-gradient( 89.2deg,  rgba(191,241,236,1) 22.3%, rgba(109,192,236,1) 84.1% );
}

.box-2{
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
}
.box-2 h4{
    color: #ddd;
}
.box-2 p{
    color: rgb(195, 186, 186);
}
.box p{
   margin-top: 20px;
}
.box-wraper{
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-wraper::after{
    content: '';
    display: block;
    clear: both;
}
/* <!-- ################## feature ##################### --> */
/* ################# footer ############### */
.footer{
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
    text-align: center;
   
    color: rgb(179, 179, 179);
}
.footer p{
    text-align: center;
}
.social-media i{
    margin: 15px;
}

/* ################# footer ############### */

/* ##################### about section ########## */
.about{  
    padding: 30px 0px;
}
.border-bottom{
    border-bottom: 3px solid rgb(255, 83, 83);
    padding-bottom: 4px;
}
.about p{
    padding: 15px 0px;
}
.about-wraper{
    margin-top: 10px;
    text-align: center;
}
.left{
   float: left; 
   width: 50%;
   line-height: 1.6;
}
.right{
   float: right;
   width: 50%;
   line-height: 1.6;
}
.about-wraper li::before{
    content: '\2713';
    color:  rgb(255, 83, 83);
    padding: 5px;
    font-weight: bold;
}
.about-wraper::after{
    content: '';
    display: block;
    clear: both;
}
.services{
   
    margin-top: 3rem;
}
.service-item{
    
    float: left;
    width: 25%;
    text-align: center;
}
.service-item p{
    text-align: center;
    font-weight: 600;
}
.service-item span{
    font-size: 2rem;
    font-weight: 600;
    color:  rgb(255, 83, 83);
}
.services::after{
    content: '';
    display: block;
    clear: both;
}
.banner{
   padding: 0px 10px;
   background-image: linear-gradient( 109.6deg,  rgba(116,18,203,1) 11.2%, rgba(230,46,131,1) 91.2% );
   padding: 5px;
   box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
.banner-para{
    font-weight: 600;
    color: white;
    padding: 5px;
    float: left;
    width: 60%;
}
.banner-btn{
    margin-top: 8px;  
    text-align: center;
    padding: 5px;
    display: inline-block;
    float: right;
    width: 40%;
    font-weight: 700;
    border: 3px solid white;
    border-radius: 30px;
}
.banner-btn a{
    font-size: 25px;
    color: white;
}
.banner::after{
    content: '';
    display: block;
    clear: both;
}
/* ##################### about section ########## */
/* ####################### contact me section ############### */


.contact-me{
 
 
   background-color: rgb(255, 255, 255);
   padding: 30px;
   box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
   
}
.company-address{
    
    margin: 2px 2px;
    float: left;
    width: 49%;
}
.information{
    margin-bottom: 15px;
}
.information i{
    display: inline-block;
    margin-right: 10px;
}
.information h3{
    display: inline-block;
    color:rgb(78, 71, 71);
}
.information p{
    color: gray;
}
.company-address img{
    width: 80%;
    height: 300px;
    object-fit: cover;
}
.form{
    
    margin: 2px 2px;
    float: right;
    width: 49%;
}
.contact-me::after{
    content: '';
    display: block;
    clear: both;
}
/*############ contact form ###############*/
.form{ 
    padding: 10px;
      
}
.form h3::after{
    content: '';
    display: block;
    border: 1px solid rgb(255, 107, 107);
    width: 365px;
}
.form h3{
    margin-left: 16px;
    padding-bottom: 4px;
}
.from-group{
    padding: 10px;
    
}
input[type=text]{
    box-sizing: border-box;
    border: 1px solid rgb(194, 194, 194);
    padding: 5px 8px;
    transition: width 0.4s;
} 
input[type=text]:focus{
    width: 100%;
    background-color: rgb(197, 219, 228);
  
}
input[type=email]{
    box-sizing: border-box;
    border: 1px solid rgb(197, 197, 197);
    padding: 5px 8px ;
    transition: width 0.4s;
} 
input[type=email]:focus{
    width: 100%;
    background-color: rgb(197, 219, 228);
}
input[type=number]{
    box-sizing: border-box;
    border: 1px solid rgb(197, 197, 197);
    padding: 5px 8px ;
    transition: width 0.4s;
} 
input[type=number]:focus{
    width: 100%;
    background-color: rgb(197, 219, 228);

}
textarea{
    box-sizing: border-box;
    width: 70%;
    border: 1px solid rgb(197, 197, 197);
    padding: 5px 8px ;
    transition: width 0.4s;
}
textarea:focus{
    width: 100%;
    background-color: rgb(197, 219, 228);
}
.input-form{
    padding: 6px;
}

.input-form label{
    display: block;
    padding-bottom: 5px;
} 
.input-form input{
    display: block;
    width: 90%;
}
.btn-group{
    
    background-color: rgb(255, 66, 66);
    color: white;
    border: none;
    padding: 5px 16px;
    margin: 6px;
    border-radius: 30px;
    transition-duration: 0.4s;
}
.btn1{
    border: 1px solid  rgb(255, 66, 66);
    background-color: white;
    color: black;
}
.btn1:hover{
    background-color: rgb(255, 66, 66);
    color: white;
}
                            
/*############ contact form ###############*/
/* ####################### contact me section ############### */
